		<div class="widget" style="margin:20px 0 20px 10px;min-height:200px">
            <h4>GOALS</h4>
            <div style="color:black">
                <div class="assistName">
                    <b>NAME</b>
                </div>
                <div class="assistNumber boxShadow1 onclick" onclick="getHref('0',null)">
                    <b title="Total Goals">GS</b>
                </div>
                <div class="assistNumber">
                    <b title="Games Played">GP</b>
                </div>
                <div class="assistNumber onclick boxShadow1" onclick="getHref(1,null)">
                    <b title="Goals Per Game">GPG</b>
                </div>
            </div>
            <% @goalRankings.compact.each do |x| %>
            <div class="rankingsEntry">
                <div class="assistName">
                    <%= link_to User.find(x[:id]).name.upcase, "/stats?id=0&who=1&user="+x[:id].to_s, title: "Player Details" %>
                </div>
                <div class="assistNumber">
                    <%= x[:goals] %>
                </div>
                <div class="assistNumber">
                    <%= x[:gp] %>
                </div>
                <div class="assistNumber">
                    <%= x[:gpg] %>
                </div>
            </div>
            <% end %>
        </div>

