        <select id="periodSelect">
            <option selected="selected" value="0">All seasons</option>
            <option value="154">season 154</option>
            <option value="153">season 153</option>
            <option value="152">season 152</option>
            <option value="151">season 151</option>
            <option value="150">season 150</option>
            <option value="149">season 149</option>
            <option value="148">season 148</option>
            <option value="147">season 147</option>
            <option value="146">season 146</option>
            <option value="145">season 145</option>
            <option value="143">season 143</option>
            <option value="142">season 142</option>
            <option value="141">season 141</option>
            <option value="140">season 140</option>
            <option value="139">season 139</option>
            <option value="138">season 138</option>
            <option value="136">season 136</option>
            <option value="135">season 135</option>
            <option value="134">season 134</option>
            <option value="133">season 133</option>
            <option value="132">season 132</option>
            <option value="131">season 131</option>
            <option value="130">season 130</option>
            <option value="129">season 129</option>
            <option value="128">season 128</option>
            <option value="127">season 127</option>
            <option value="126">season 126</option>
            <option value="125">season 125</option>
            <option value="124">season 124</option>
            <option value="123">season 123</option>
            <option value="122">season 122</option>
            <option value="121">season 121</option>
            <option value="120">season 120</option>
            <option value="119">season 119</option>
            <option value="117">season 117</option>
            <option value="116">season 116</option>
            <option value="115">season 115</option>
        </select>
        </br>
