    <div>
        <select>
            <option>Select Season</option>
            <option onclick="window.location.href='stats?id=115'">season 115</option>
            <option onclick="window.location.href='stats?id=116'">season 116</option>
            <option onclick="window.location.href='stats?id=117'">season 117</option>
            <option onclick="window.location.href='stats?id=119'">season 119</option>
            <option onclick="window.location.href='stats?id=120'">season 120</option>
            <option onclick="window.location.href='stats?id=121'">season 121</option>
            <option onclick="window.location.href='stats?id=122'">season 122</option>
            <option onclick="window.location.href='stats?id=123'">season 123</option>
            <option onclick="window.location.href='stats?id=124'">season 124</option>
            <option onclick="window.location.href='stats?id=125'">season 125</option>
            <option onclick="window.location.href='stats?id=126'">season 126</option>
            <option onclick="window.location.href='stats?id=127'">season 127</option>
        </select>
        </br>
    </div>

