        <select id="periodSelect">
            <option selected="selected" value="0">All seasons</option>
            <option value="115">season 115</option>
            <option value="116">season 116</option>
            <option value="117">season 117</option>
            <option value="119">season 119</option>
            <option value="120">season 120</option>
            <option value="121">season 121</option>
            <option value="122">season 122</option>
            <option value="123">season 123</option>
            <option value="124">season 124</option>
            <option value="125">season 125</option>
            <option value="126">season 126</option>
            <option value="127">season 127</option>
            <option value="128">season 128</option>
            <option value="129">season 129</option>
            <option value="130">season 130</option>
            <option value="131">season 131</option>
            <option value="132">season 132</option>
            <option value="133">season 133</option>
        </select>
        </br>
