<div class="rightPan scheduleContainer" style="color:white">
<h2>FC Bar United &mdash; A Brief History</h2>
</br>
</br>
<p>It was in the late summer of 2005 when a group of good friends and football aficionados were congregating at The Bar, contemplating about forming a football club which will enhance our "healthy lifestyle". The Bar was the place where we hung out most of the time, and it was only fair to name the club after that what is bringing us together, so named was the club - FC Bar United (Football Club Bar United).</p>

<p>Our first roster consisted of players coming from three continents and several countries, brought together by the love for the game and beer. Although we haven't won the title, largely driven by our determination not to lose, we have won our first game. After a few seasons competing at OTWS, we won our first out of many titles in the summer of 2006. </p>

<p>Throughout the years many players have been part of FC Bar United, we won many titles, rivers of beer have flown down our throats. The friendship and understanding have grown between the players and friends, and with it, FC Bar United has grown as well. For many of us, FC Bar United is a big part of our lives. This is a major reason why we defend our colors the way we do.  </p>
</div>
