<div class="rightPan scheduleContainer">
    <div class="scheduleHeader">
        BAR UNITED VIDEO ARCHIVE 
    </div>
	<div class="videoAppContainer">
		<div class="videoAppControls">
			<div id="videoAppSeason" class="videoAppSeason">
				<div id="seasonToggler" class="videoAppSeasonOption">
					select Season -> 
				</div>
				<div class="videoAppSeasonOption" onclick="showSeason(132)">
					132 - August 2016
				</div>
				<div class="videoAppSeasonOption" onclick="showSeason(131)">
					131 - July 2016
				</div>
				<div class="videoAppSeasonOption" onclick="showSeason(130)">
					130 - May 2016
				</div>
				<div class="videoAppSeasonOption" onclick="showSeason(129)">
					129 - March 2016
				</div>
			</div>
			<div class="games">
				<div class="gameVideo s132" onclick='changeSource(0)'>
					<div class="gameVideoHalf">
						FCBU 16 - 7 Nighthawks
					</div>
					<div class="gameVideoHalf">
						Nov 3, 2016		
					</div>
				</div>
				<div class="gameVideo s132" onclick='changeSource(1)'>
					<div class="gameVideoHalf">
						FCBU 13 - 6 Maxim
					</div>
					<div class="gameVideoHalf">
						Oct 27, 2016		
					</div>
				</div>
				<div class="gameVideo s132" onclick='changeSource(2)'>
					<div class="gameVideoHalf">
						FCBU 7 - 10 Riviera FC
					</div>
					<div class="gameVideoHalf">
						Oct 20, 2016		
					</div>
				</div>
				<div class="gameVideo s132" onclick='changeSource(3)'>
					<div class="gameVideoHalf">
						FCBU 7 - 4 InterCali
					</div>
					<div class="gameVideoHalf">
						Oct 13, 2016		
					</div>
				</div>
				<div class="gameVideo s132" onclick='changeSource(4)'>
					<div class="gameVideoHalf">
						FCBU 7 - 7 CPT-FC
					</div>
					<div class="gameVideoHalf">
						Oct 6, 2016		
					</div>
				</div>
				<div class="gameVideo s132" onclick='changeSource(5)'>
					<div class="gameVideoHalf">
						FCBU 13 - 6 Maxim
					</div>
					<div class="gameVideoHalf">
						Sep 29, 2016		
					</div>
				</div>
				<div class="gameVideo s132" onclick='changeSource(6)'>
					<div class="gameVideoHalf">
						FCBU 9 - 9 VMWare 
					</div>
					<div class="gameVideoHalf">
						Sep 22, 2016		
					</div>
				</div>
				<div class="gameVideo s132" onclick='changeSource(7)'>
					<div class="gameVideoHalf">
						FCBU 11 - 4 Rangers IFC
					</div>
					<div class="gameVideoHalf">
						Sep 15, 2016		
					</div>
				</div>
				<div class="gameVideo s131" onclick='changeSource(8)'>
					<div class="gameVideoHalf">
						FCBU 15 - 7 Maxim
					</div>
					<div class="gameVideoHalf">
						Sep 1, 2016		
					</div>
				</div>
				<div class="gameVideo s131" onclick='changeSource(9)'>
					<div class="gameVideoHalf">
						FCBU 15 - 5 Maxim
					</div>
					<div class="gameVideoHalf">
						Aug 25, 2016		
					</div>
				</div>
				<div class="gameVideo s131" onclick='changeSource(10)'>
					<div class="gameVideoHalf">
						FCBU 14 - 6 Nighthawks
					</div>
					<div class="gameVideoHalf">
						Aug 18, 2016		
					</div>
				</div>
				<div class="gameVideo s131" onclick='changeSource(11)'>
					<div class="gameVideoHalf">
						FCBU 8 - 7 Echa Muni
					</div>
					<div class="gameVideoHalf">
						Aug 11, 2016		
					</div>
				</div>
				<div class="gameVideo s131" onclick='changeSource(12)'>
					<div class="gameVideoHalf">
						FCBU 7 - 4 CPT-FC
					</div>
					<div class="gameVideoHalf">
						Aug 4, 2016		
					</div>
				</div>
				<div class="gameVideo s131" onclick='changeSource(13)'>
					<div class="gameVideoHalf">
						FCBU 8 - 8 Riviera FC
					</div>
					<div class="gameVideoHalf">
						Jul 28, 2016		
					</div>
				</div>
				<div class="gameVideo s131" onclick='changeSource(14)'>
					<div class="gameVideoHalf">
						FCBU 5 - 4 InterCali 
					</div>
					<div class="gameVideoHalf">
						Jul 21, 2016		
					</div>
				</div>
				<div class="gameVideo s130" onclick='changeSource(15)'>
					<div class="gameVideoHalf">
						FCBU 2 - 9 Nighthawks 
					</div>
					<div class="gameVideoHalf">
						Jul 7, 2016		
					</div>
				</div>
				<div class="gameVideo s130" onclick='changeSource(16)'>
					<div class="gameVideoHalf">
						FCBU 5 - 5 Echa Muni 
					</div>
					<div class="gameVideoHalf">
						Jun 30, 2016		
					</div>
				</div>
				<div class="gameVideo s130" onclick='changeSource(17)'>
					<div class="gameVideoHalf">
						FCBU  3 - 9 Riviera FC
					</div>
					<div class="gameVideoHalf">
						Jun 23, 2016		
					</div>
				</div>
				<div class="gameVideo s130" onclick='changeSource(18)'>
					<div class="gameVideoHalf">
						FCBU 7 - 3 InterCali 
					</div>
					<div class="gameVideoHalf">
						Jun 16, 2016		
					</div>
				</div>
				<div class="gameVideo s130" onclick='changeSource(19)'>
					<div class="gameVideoHalf">
						FCBU 4 - 2 CPT-FC 
					</div>
					<div class="gameVideoHalf">
						Jun 9, 2016		
					</div>
				</div>
				<div class="gameVideo s130" onclick='changeSource(20)'>
					<div class="gameVideoHalf">
						FCBU 14 - 11 Nighthawks 
					</div>
					<div class="gameVideoHalf">
						Jun 2, 2016		
					</div>
				</div>
				<div class="gameVideo s130" onclick='changeSource(21)'>
					<div class="gameVideoHalf">
						FCBU 5 - 4 Echa Muni 
					</div>
					<div class="gameVideoHalf">
						May 26, 2016		
					</div>
				</div>
				<div class="gameVideo s130" onclick='changeSource(22)'>
					<div class="gameVideoHalf">
						FCBU 8 - 6 Riviera FC 
					</div>
					<div class="gameVideoHalf">
						May 19, 2016		
					</div>
				</div>
				<div class="gameVideo s129" onclick='changeSource(23)'>
					<div class="gameVideoHalf">
						FCBU 11 - 3 Street Soccer FC 
					</div>
					<div class="gameVideoHalf">
						May 12, 2016		
					</div>
				</div>
				<div class="gameVideo s129" onclick='changeSource(24)'>
					<div class="gameVideoHalf">
						FCBU 10 - 6 Castros &amp; Friends 
					</div>
					<div class="gameVideoHalf">
						May 5, 2016		
					</div>
				</div>
				<div class="gameVideo s129" onclick='changeSource(25)'>
					<div class="gameVideoHalf">
						FCBU 6 - 5 Maxim 
					</div>
					<div class="gameVideoHalf">
						Apr 28, 2016		
					</div>
				</div>
				<div class="gameVideo s129" onclick='changeSource(26)'>
					<div class="gameVideoHalf">
						FCBU 10 - 3 DFC 
					</div>
					<div class="gameVideoHalf">
						Apr 21, 2016		
					</div>
				</div>
				<div class="gameVideo s129" onclick='changeSource(27)'>
					<div class="gameVideoHalf">
						FCBU 9 - 7 Points for Pints 
					</div>
					<div class="gameVideoHalf">
						Apr 14, 2016		
					</div>
				</div>
				<div class="gameVideo s129" onclick='changeSource(28)'>
					<div class="gameVideoHalf">
						Double Header 
					</div>
					<div class="gameVideoHalf">
						Apr 7, 2016		
					</div>
				</div>
				<div class="gameVideo s129" onclick='changeSource(29)'>
					<div class="gameVideoHalf">
						FCBU 11 - 8 Legal Aliens 
					</div>
					<div class="gameVideoHalf">
						Mar 24, 2016		
					</div>
				</div>
			</div>
		</div>
		<iframe class="videoAppMovie" src="" frameborder="0" allowfullscreen/>
		</iframe>
	</div>


















		<!--b style="display:block;color:black;text-decoration:underline;margin-bottom:10px">BAR 11 - 8 LEGAL ALIENS</b>
<iframe width="720" height="480" src="https://www.youtube.com/embed/BEicap0EJog" frameborder="0" allowfullscreen></iframe>
		<b style="display:block;color:black;text-decoration:underline;margin-bottom:10px">BAR 10 - 12 RIVIERA</b>
<iframe width="720" height="480" src="https://www.youtube.com/embed/kJ5fBrnYOY0" frameborder="0" allowfullscreen></iframe>
		<b style="display:block;color:black;text-decoration:underline;margin-bottom:10px">BAR 10 - 7 EAGLES</b>
<iframe width="720" height="480" src="https://www.youtube.com/embed/nd4406zJkuw?list=PL05EE98F4D9666BED" frameborder="0" allowfullscreen></iframe>
</br>	<b style="display:block;color:black;text-decoration:underline;margin-bottom:10px">BAR 7 - 4 EAGLES</b>
<iframe width="720" height="480" src="https://www.youtube.com/embed/HmLNedMmMBQ" frameborder="0" allowfullscreen></iframe>
</br>	<b style="display:block;color:black;text-decoration:underline;margin-bottom:10px">BAR 12 - 9 EAGLES</b>
<iframe width="720" height="480" src="//www.youtube.com/embed/ntlTC5kgHG0?list=PL05EE98F4D9666BED" frameborder="0" allowfullscreen></iframe>
</br>	<b style="display:block;color:black;text-decoration:underline;margin-bottom:10px">BAR 12 - 13 EAGLES</b>
<iframe width="720" height="480" src="//www.youtube.com/embed/08NEwR6b0Aw?list=PL05EE98F4D9666BED" frameborder="0" allowfullscreen></iframe>
</br>	<b style="display:block;color:black;text-decoration:underline;margin-bottom:10px">BAR 13 - 10 EAGLES</b>
<iframe width="720" height="480" src="//www.youtube.com/embed/G1Qj8DLRSYs?list=PL05EE98F4D9666BED" frameborder="0" allowfullscreen></iframe>
</br>	<b style="display:block;color:black;text-decoration:underline;margin-bottom:10px">BAR 6 - 12 MOBIBUCKS</b>
<iframe width="720" height="480" src="//www.youtube.com/embed/0cvovA5kZyA" frameborder="0" allowfullscreen></iframe>
</br>	<b style="display:block;color:black;text-decoration:underline;margin-bottom:10px">BAR 6 - 9 INTERNATIONALS</b>
<iframe width="720" height="480" src="//www.youtube.com/embed/videoseries?list=PL2894724292A8DCDF" frameborder="0" allowfullscreen></iframe>
</br>	<b style="display:block;color:black;text-decoration:underline;margin-bottom:10px">BAR 6 - 3 PONDEROSA</b>
<iframe width="720" height="480" src="//www.youtube.com/embed/videoseries?list=PL8A1F0C18CC6334CA" frameborder="0" allowfullscreen></iframe-->
</div>
