<div class="rightPan mainContainer">
	<h2>Bar 12 - 13 Eagles</h2>
<iframe width="560" height="315" src="//www.youtube.com/embed/08NEwR6b0Aw?list=PL05EE98F4D9666BED" frameborder="0" allowfullscreen></iframe>
	<h2>Bar 13 - 10 Eagles</h2>
<iframe width="560" height="315" src="//www.youtube.com/embed/G1Qj8DLRSYs?list=PL05EE98F4D9666BED" frameborder="0" allowfullscreen></iframe>
	<h2>Bar 6 - 12 Mobibucks</h2>
<iframe width="560" height="315" src="//www.youtube.com/embed/0cvovA5kZyA" frameborder="0" allowfullscreen></iframe>
	<h2>Bar 6 - 9 Internationals</h2>
<iframe width="560" height="315" src="//www.youtube.com/embed/videoseries?list=PL2894724292A8DCDF" frameborder="0" allowfullscreen></iframe>
	<h2>Bar 6 - 3 Ponderosa</h2>
<iframe width="560" height="315" src="//www.youtube.com/embed/videoseries?list=PL8A1F0C18CC6334CA" frameborder="0" allowfullscreen></iframe>
</div>
