<div class="rightPan scheduleContainer">
    <div class="scheduleHeader">
        BAR UNITED VIDEO ARCHIVE 
    </div>


		<b style="display:block;color:black;text-decoration:underline;margin-bottom:10px">BAR 10 - 7 EAGLES</b>
<iframe width="720" height="480" src="https://www.youtube.com/embed/nd4406zJkuw?list=PL05EE98F4D9666BED" frameborder="0" allowfullscreen></iframe>
</br>	<b style="display:block;color:black;text-decoration:underline;margin-bottom:10px">BAR 7 - 4 EAGLES</b>
<iframe width="720" height="480" src="https://www.youtube.com/embed/HmLNedMmMBQ" frameborder="0" allowfullscreen></iframe>
</br>	<b style="display:block;color:black;text-decoration:underline;margin-bottom:10px">BAR 12 - 9 EAGLES</b>
<iframe width="720" height="480" src="//www.youtube.com/embed/ntlTC5kgHG0?list=PL05EE98F4D9666BED" frameborder="0" allowfullscreen></iframe>
</br>	<b style="display:block;color:black;text-decoration:underline;margin-bottom:10px">BAR 12 - 13 EAGLES</b>
<iframe width="720" height="480" src="//www.youtube.com/embed/08NEwR6b0Aw?list=PL05EE98F4D9666BED" frameborder="0" allowfullscreen></iframe>
</br>	<b style="display:block;color:black;text-decoration:underline;margin-bottom:10px">BAR 13 - 10 EAGLES</b>
<iframe width="720" height="480" src="//www.youtube.com/embed/G1Qj8DLRSYs?list=PL05EE98F4D9666BED" frameborder="0" allowfullscreen></iframe>
</br>	<b style="display:block;color:black;text-decoration:underline;margin-bottom:10px">BAR 6 - 12 MOBIBUCKS</b>
<iframe width="720" height="480" src="//www.youtube.com/embed/0cvovA5kZyA" frameborder="0" allowfullscreen></iframe>
</br>	<b style="display:block;color:black;text-decoration:underline;margin-bottom:10px">BAR 6 - 9 INTERNATIONALS</b>
<iframe width="720" height="480" src="//www.youtube.com/embed/videoseries?list=PL2894724292A8DCDF" frameborder="0" allowfullscreen></iframe>
</br>	<b style="display:block;color:black;text-decoration:underline;margin-bottom:10px">BAR 6 - 3 PONDEROSA</b>
<iframe width="720" height="480" src="//www.youtube.com/embed/videoseries?list=PL8A1F0C18CC6334CA" frameborder="0" allowfullscreen></iframe>
</div>
