<div class="rightPan mainContainer" style="padding-right:0px;width:849px">
	<div class="homeFeed">
		FEED</br>FEED
	</div>
	<div class="widget">
		<h4>Form</h4>
		<div class="formItem">
			W
		</div>
		<div class="formItem loss">
			L	
		</div>
		<div class="formItem">
			W
		</div>
		<div class="formItem">
			W
		</div>
		<div class="formItem">
			W
		</div>
	</div>
	<div class="widget">
		<h4>Schedule</h4>
	</div>
	<div class="widget">
		<h4>Standings</h4>
	</div>
	<div class="widget">
		<h4>Assists</h4>
	</div>
	<div class="widget">
		<h4>Goals</h4>
		
	</div>
</div>
