h3
{
color:white;
}
.blogFrame
{
position:relative;
float:left;
width:700px;
height:73em;
background-color:black !important;
border:3px solid black;
margin-top:-330px;
overflow-x:hidden;
overflow-y:scroll;

}
.prevButton
{
position:relative;
width:50px;
height:50px;
font-size:32px;
font-weight:bold;
line-height:50px;
float:left;
background-color:black;
color:white;
border-radius:25px;
border:1px solid white;
cursor:pointer;
}
.nextButton
{
cursor:pointer;
background-color:black;
color:white;
position:relative;
border-radius:25px;
font-weight:bold;
width:50px;
height:50px;
padding:0;
margin:0 0 0 600px;
font-size:32px;
line-height:50px;
border:1px solid white;
float:right;
}
.nextGameDiv
{
width:100%;
text-align:center;
height:30px;
line-height:30px;
font-weight:bold;
border-bottom:1px solid black;
}
.assistName
{
width:130px;
color:black;
position:relative;
float:left;
height:20px;
line-height:20px;
font-size:12px;

}
.assistNumber
{
width:30px;
color:black;
position:relative;
float:left;
height:20px;
line-height:20px;
font-size:12px;

}
.standingsName
{
clear:left;
color:black;
font-weight:normal;
position:relative;
float:left;
width:305px;
border:1px solid black;
border-left:none;
margin-left:15px;
height:25px;
}
.standingsNumberPts
{
border:1px solid black;
border-right:none;
background-color:blue;
background: rgb(235,241,246); /* Old browsers */

background: -moz-linear-gradient(top,  rgba(235,241,246,1) 0%, rgba(171,211,238,1) 72%, rgba(137,195,235,1) 90%, rgba(213,235,251,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,241,246,1)), color-stop(72%,rgba(171,211,238,1)), color-stop(90%,rgba(137,195,235,1)), color-stop(100%,rgba(213,235,251,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 72%,rgba(137,195,235,1) 90%,rgba(213,235,251,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 72%,rgba(137,195,235,1) 90%,rgba(213,235,251,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 72%,rgba(137,195,235,1) 90%,rgba(213,235,251,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 72%,rgba(137,195,235,1) 90%,rgba(213,235,251,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */

}
.standingsNumber
{
color:black;
position:relative;
float:left;
width:71px;
height:25px;
border-bottom:1px solid black;
border-top:1px solid black;

}
.headerFont
{
text-align:left;
font-size:32px;
line-height:200px;
margin-left:40px;
color:black;
font-family: 'Diplomata SC', cursive;
}
.container
{
position:relative;
width:1300px;
margin-left:auto;
margin-right:auto;
}
.playerPic
{
width:100px;
height:130px;
background-color:pink;
border: 1px solid black;
position:relative;
float:left;
}
.flagSmall
{
height:12px;
line-height:6px;
margin-top:-4px;
background-color:white;
vertical-align:middle;
}
.controls
{
padding:0;
border-left:1px solid black;
border-bottom:1px solid black;
height:72px;
vertical-align:middle;
min-width:998px;
border-right:1px solid black;
background-color:pink;
background: rgb(125,126,125); /* Old browsers */

background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(168,168,168,1) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(168,168,168,1))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(168,168,168,1) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(168,168,168,1) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(168,168,168,1) 100%); /* IE10+ */

background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(168,168,168,1) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#a8a8a8',GradientType=0 ); /* IE6-9 */



}
.first
{
margin-left:100px;
}
body
{
text-align:center;
width:100%;
min-width:1300px;
margin:0;
padding:0;
background: rgb(255,173,174); /* Old browsers */

background: -moz-linear-gradient(left,  rgba(255,173,174,1) 0%, rgba(58,0,1,1) 29%, rgba(160,118,119,1) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,173,174,1)), color-stop(29%,rgba(58,0,1,1)), color-stop(100%,rgba(160,118,119,1))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(left,  rgba(255,173,174,1) 0%,rgba(58,0,1,1) 29%,rgba(160,118,119,1) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(left,  rgba(255,173,174,1) 0%,rgba(58,0,1,1) 29%,rgba(160,118,119,1) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(left,  rgba(255,173,174,1) 0%,rgba(58,0,1,1) 29%,rgba(160,118,119,1) 100%); /* IE10+ */

background: linear-gradient(to right,  rgba(255,173,174,1) 0%,rgba(58,0,1,1) 29%,rgba(160,118,119,1) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffadae', endColorstr='#a07677',GradientType=1 ); /* IE6-9 */




}
.seasonDivider
{
width:900px;
height:4px;
background-color:black;
float:left;
position:relative;
margin-bottom:5px;
margin-top:5px;
}
.win
{
color:green !important;
}
.loss
{
color:red !important;
}
.teamContainer
{
min-height:500px;
width:998px;
position:relative;
background:url("field.png");
background-size:cover;
border:1px solid black;
}
.gameContainer
{
width:820px;
overflow:hide;
padding-left:180px;
background:url('newspaper.jpeg');
background-size:100% 100%;
background-repeat:no-repeat;
text-align:center;
padding-bottom:400px;
}
.mainContainer
{
float:left;
padding:10px 149px 10px 149px;
border:1px solid black;
-webkit-box-shadow: 7px 7px 30px 0px rgba(185, 29, 47, 0.75);
-moz-box-shadow:    7px 7px 30px 0px rgba(185, 29, 47, 0.75);
box-shadow:         7px 7px 30px 0px rgba(185, 29, 47, 0.75);
width:700px;
overflow:hide;
text-align:center;

background: rgb(149,149,149); /* Old browsers */

background: -moz-linear-gradient(left,  rgba(149,149,149,1) 0%, rgba(13,13,13,1) 46%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 53%, rgba(78,78,78,1) 76%, rgba(56,56,56,1) 87%, rgba(27,27,27,1) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(149,149,149,1)), color-stop(46%,rgba(13,13,13,1)), color-stop(50%,rgba(1,1,1,1)), color-stop(53%,rgba(10,10,10,1)), color-stop(76%,rgba(78,78,78,1)), color-stop(87%,rgba(56,56,56,1)), color-stop(100%,rgba(27,27,27,1))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(left,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(left,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(left,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* IE10+ */

background: linear-gradient(to right,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=1 ); /* IE6-9 */





}
.scheduleContainer
{
padding:10px 49px 10px 49px;
border:1px solid black;
-webkit-box-shadow: 7px 7px 30px 0px rgba(185, 29, 47, 0.75);
-moz-box-shadow:    7px 7px 30px 0px rgba(185, 29, 47, 0.75);
box-shadow:         7px 7px 30px 0px rgba(185, 29, 47, 0.75);
width:900px;
overflow:hide;
text-align:center;
background: rgb(149,149,149); /* Old browsers */

background: -moz-linear-gradient(left,  rgba(149,149,149,1) 0%, rgba(13,13,13,1) 46%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 53%, rgba(78,78,78,1) 76%, rgba(56,56,56,1) 87%, rgba(27,27,27,1) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(149,149,149,1)), color-stop(46%,rgba(13,13,13,1)), color-stop(50%,rgba(1,1,1,1)), color-stop(53%,rgba(10,10,10,1)), color-stop(76%,rgba(78,78,78,1)), color-stop(87%,rgba(56,56,56,1)), color-stop(100%,rgba(27,27,27,1))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(left,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(left,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(left,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* IE10+ */

background: linear-gradient(to right,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=1 ); /* IE6-9 */


}
h1
{
margin-top:60px;
color:BLACK;
font-weight:normal;
font-family: 'Russo One', sans-serif;
color:black;
text-decoration:underline;
text-align:left;
font-size:70px;
}
h2
{
font-family:'The Girl Next Door', cursive;
font-size:22px;
text-align:center;
font-style:italic;
}
p
{
font-weight:bold;
font-size:18px;
font-family:'The Girl Next Door', cursive;
}
.leftPan
{
clear:left;
position:relative;
width:205px;
min-height:2px;
float:left;
background-color:none;
height:auto;
font-size:2em;
}
.rightPan
{
position:relative;
float: left;
}
.logo
{
border-top:1px solid black;
padding:20px 0 0 0;
margin:0;
text-align:center;
background:url('flagpost.png');
background-size:9em 5.5em;
background-repeat:no-repeat;
background-position:center top;
height:180px;
}
.navLink
{
font-weight:normal;
font-family: 'Russo One', sans-serif;
color:black;
text-decoration:none;
margin-left:20px;
text-align:center;
line-height:25px;
font-size:24px;
height:69px;
width:170px;
float:left;
position:relative;
border:1px solid grey;
vertical-align:middle;
}
.navLink:hover
{
border:1px solid black;
color:white;
-webkit-box-shadow: 0px 4px 19px 0px rgba(255, 255, 255, 0.75);
-moz-box-shadow:    0px 4px 19px 0px rgba(255, 255, 255, 0.75);
box-shadow:         0px 4px 19px 0px rgba(255, 255, 255, 0.75);
}
.game
{
position:relative;
float:left;
border-radius:25px;
margin-bottom:2px;
clear:left;
padding:5px 0 5px 0;
border:1px solid black;
height:40px;
background-color:white;
width:900px
}
.gameHeader
{
color:black;
position:relative;
float:left;
margin-bottom:2px;
clear:left;
padding:5px 0 5px 0;
text-align:center;
width:900px;
}
.titleBox
{
font-size:12px;
width: 120px;
float:left;
text-align:center;
height:20px;
position:relative;
margin-right:10px;
margin-left:10px;
margin:0 10px 20px 10px;
line-height:20px;
font-family:sans-serif;
}
.playerBox
{
font-size:18px;
color:white;
width: 150px;
float:left;
text-align:center;
height:40px;
position:relative;
margin-right:10px;
margin-left:10px;
line-height:40px;
}
.scheduleBox
{
font-size:22px;
width: 200px;
float:left;
text-align:center;
height:40px;
position:relative;
margin-right:10px;
margin-left:10px;
line-height:40px;
}
.playerNumber
{
width:60px;
text-align:center;
font-weight:bold;
position:relative;
float:left;
}
.playerName
{
width:300px;
font-weight:bold;
position:relative;
float:left;
text-align:center;
}
.score
{
text-align:center;
font-weight:bold;
text-decoration:underline;
}
.teamPadding
{
position:relative;
float:left;
width:100%;
height:220px;
}
.newLine
{
clear:left;
}
.teamSkip
{
position:relative;
float:left;
width:120px;
height:20px;
margin-bottom:3px;
}
.teamSkipQuarter
{
position:relative;
float:left;
width:30px;
height:20px;
margin-bottom:3px;
}
.teamMap
{
color:white;
cursor:pointer;
position:relative;
margin-bottom:3px;
float:left;
font-size:11px;
line-height:25px;
width:120px;
height:20px;
border-radius:5px;
text-align:center;
background: -moz-linear-gradient(top,  rgba(140,61,63,0) 0%, rgba(140,61,63,0.9) 90%, rgba(165,0,2,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(140,61,63,0)), color-stop(90%,rgba(140,61,63,0.9)), color-stop(100%,rgba(165,0,2,1))); /*Chrome,Safari4+*/
background: -webkit-linear-gradient(top,  rgba(140,61,63,0) 0%,rgba(140,61,63,0.9) 90%,rgba(165,0,2,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(140,61,63,0) 0%,rgba(140,61,63,0.9) 90%,rgba(165,0,2,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(140,61,63,0) 0%,rgba(140,61,63,0.9) 90%,rgba(165,0,2,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(140,61,63,0) 0%,rgba(140,61,63,0.9) 90%,rgba(165,0,2,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008c3d3f', endColorstr='#a50002',GradientType=0 ); /* IE6-9 */

}
iframe
{
margin-bottom:10px;
}
.homeFeed
{
margin-left:-110px;
text-align:left;
position:relative;
float:left;
width:700px;
padding:25px ;

}
.widget
{
position:relative;
float:left;
margin-left:20px;
margin-bottom:10px;
width:200px;
min-height:120px;
background-color:#F28789;
color:white;
border-top-left-radius:10px;
border-top-right-radius:10px;
border:1px solid black;
background: rgb(232,234,232); /* Old browsers */

background: -moz-linear-gradient(top,  rgba(232,234,232,1) 0%, rgba(214,186,188,1) 47%, rgba(186,161,164,1) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,234,232,1)), color-stop(47%,rgba(214,186,188,1)), color-stop(100%,rgba(186,161,164,1))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  rgba(232,234,232,1) 0%,rgba(214,186,188,1) 47%,rgba(186,161,164,1) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  rgba(232,234,232,1) 0%,rgba(214,186,188,1) 47%,rgba(186,161,164,1) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  rgba(232,234,232,1) 0%,rgba(214,186,188,1) 47%,rgba(186,161,164,1) 100%); /* IE10+ */

background: linear-gradient(to bottom,  rgba(232,234,232,1) 0%,rgba(214,186,188,1) 47%,rgba(186,161,164,1) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8eae8', endColorstr='#baa1a4',GradientType=0 ); /* IE6-9 */



}
.formItem
{
position:relative;
float:left;
margin-left:6px;
margin-top:3px;
width:30px;
text-align:center;
height:40px;
line-height:50px;
margin-top:10px;
margin-bottom:10px;
font-size:22px;
background-color:green;
border:1px solid black;
border-radius:6px;
}
.formItemSmall
{
position:relative;
float:left;
margin-left:6px;
margin-top:3px;
width:30px;
text-align:center;
height:40px;
line-height:20px;
margin-top:10px;
margin-bottom:10px;
font-size:12px;
background-color:green;
border:1px solid black;
border-radius:6px;
}


.homeMain
{
width:998px;
margin: 0 0 0;
height:200px;
background-color:grey;
border:1px solid black;
border-bottom:3px solid black;
background:url('banner.png');
background-repeat:no-repeat;
background-size: 100% 100%;
z-index:10;



}

.footer
{
width:999px;
border:1px solid black;
height:40px;
background-color:grey;
float:left;
position:relative;
}

h4
{
color:black;
width:100%;
margin-top:0;
margin-bottom:0;
border-top-left-radius:7px;
border-top-right-radius:7px;
background: rgb(254,255,255); /* Old browsers */

background: -moz-linear-gradient(top,  rgba(254,255,255,1) 28%, rgba(73,73,73,1) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(28%,rgba(254,255,255,1)), color-stop(100%,rgba(73,73,73,1))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 28%,rgba(73,73,73,1) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  rgba(254,255,255,1) 28%,rgba(73,73,73,1) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  rgba(254,255,255,1) 28%,rgba(73,73,73,1) 100%); /* IE10+ */

background: linear-gradient(to bottom,  rgba(254,255,255,1) 28%,rgba(73,73,73,1) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#494949',GradientType=0 ); /* IE6-9 */



}
