h1{
color:RED;
text-align:center;
}
.leftPan
{
clear:left;
position:relative;
width:15%;
float:left;
background-color:none;
height:auto;
font-size:2em;
}
.rightPan
{
position:relative;
width: 83%;
float: left;
background-color:none;
height:auto;

}

